/*Theme change popup*/

.popup-container {
    -fx-pref-width: 250;
}
.rename_field {
    -fx-pref-width: 250;
}
.theme-list-container {
    -fx-background-color: #F3F3F3;
}
.theme-list-item {
    -fx-background-color: #FFFFFF;
    -fx-pref-width: 250;
}
.theme-list-item:hover {
    -fx-background-color: #EDEDED;
}

/*CodeEditor*/

.styled-text-area {
    -fx-font-size: 10px;
    -fx-font-family: 'JetBrains Mono' !important;
}

.preprocessor {
    -fx-fill: #8000FF !important;
    -fx-font-weight: bold;
}
.keyword {
    -fx-fill: #0000FF !important;
    -fx-font-weight: bold;
}
.data-types {
    -fx-fill: #4ECBFD !important;
    -fx-font-weight: bold;
}
.literals {
    -fx-fill: #9C93F9 !important;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold !important;
    -fx-fill: #000000  !important;
}
.paren {
    -fx-fill: #000000 !important;
    -fx-font-weight: bold !important;
}
.bracket {
    -fx-fill: #000000 !important;
    -fx-font-weight: bold !important;
}
.brace {
    -fx-fill: #000000 !important;
    -fx-font-weight: bold !important;
}
.string {
    -fx-fill: #E6DB74 !important;
}
.comment {
	-fx-fill: #75715E !important;
}