/*Theme change popup*/

.popup-container {
    -fx-pref-width: 250;
}
.rename_field {
    -fx-pref-width: 250;
}
.theme-list-container {
    -fx-background-color: #F3F3F3;
}
.theme-list-item {
    -fx-background-color: #FFFFFF;
    -fx-pref-width: 250;
}
.theme-list-item:hover {
    -fx-background-color: #EDEDED;
}

/*CodeEditor*/

.preprocessor {
    -fx-fill: #8000FF !important;
    -fx-font-weight: bold;
}
.keyword {
    -fx-fill: #0000FF !important;
    -fx-font-weight: bold;
}
.data-types {
    -fx-fill: #4ECBFD !important;
    -fx-font-weight: bold;
}
.literals {
    -fx-fill: #9C93F9 !important;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold !important;
    -fx-fill: #000000  !important;
}
.paren {
    -fx-fill: #000000 !important;
    -fx-font-weight: bold !important;
}
.bracket {
    -fx-fill: #000000 !important;
    -fx-font-weight: bold !important;
}
.brace {
    -fx-fill: #000000 !important;
    -fx-font-weight: bold !important;
}
.string {
    -fx-fill: #E6DB74 !important;
}
.comment {
	-fx-fill: #75715E !important;
}

/*Terminal*/
.terminal-background {
    -fx-background-color: #000000;
}

.caret {
    -fx-fill: #FFFFFF;
    -fx-stroke: #FFFFFF;
}

.terminal-info {
    -fx-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.terminal-warning {
    -fx-fill: #FFD800;
    -fx-font-weight: bold;
}

.terminal-error {
    -fx-fill: #FF0000;
    -fx-font-weight: bold;
}

.terminal-link {
    -fx-background-color: #000000;
}